<div *ngIf="!authService.isLoggedin(); else loggedin">
  Log in to use this feature!
</div>

<ng-template #loggedin>
  
  <h2 >Create a quiz </h2>
  
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
 
      <p>
        <mat-label > 
        Quiz name:
        <input style="background-color:snow;" type="text" name="name" formControlName="name" class="form-control" class="round">
        </mat-label>
      </p>
 
      <p> 
      <mat-label> 
        Number of questions: {{this.questionCounter}} 
      </mat-label>
      </p>

      <div formArrayName="QnAs" class="center">
        <p> 
        <button mat-raised-button type="button" (click)="addQuestion()" class="btn btn-primary" >Add question</button>
        </p>

        <div *ngFor="let quantity of QnAs().controls; let i=index" [formGroupName]="i">

          <mat-label>
              Question:
              <input style="background-color:snow;" type="text" formControlName="question" class="form-control" class="round">
          </mat-label>

          <mat-label>
              Answer:
              <input style="background-color:snow;" type="text" formControlName="answer" class="form-control" class="round">
          </mat-label>

          <mat-label>
              <button mat-mini-fab color="basic" (click)="removeQuestion(i)" style="border: 2px solid  darkslategrey;">
                <mat-icon>delete</mat-icon>
              </button>
          </mat-label>

        </div>

        <p> 
        <button mat-raised-button color="basic" type="submit" >Save quiz</button>
        </p>

      </div>
   
    </form>

</ng-template>
