<div *ngIf="!authService.isLoggedin(); else loggedin">
  Log in to use this feature!
</div>

<ng-template #loggedin>
  <ng-container >

    <h2 >Create a quiz</h2>
  
    <form id="myForm" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="center">

      <p> 
        <label for="name"> Quiz Name:  </label>
        <input matInput type="text" id="name" name="name" formControlName="name" class="form-control">
      </p>

      <table mat-table class="center" formArrayName="QnAs" >
    
        <tr mat-row>
          <th mat-header-cell  colspan="2">Number of questions: {{this.questionCounter}} </th>
          <th mat-header-cell width="150px"><button  mat-raised-button type="button" (click)="addQuestion()" class="btn btn-primary">Add question</button></th>
        </tr>

        <tr mat-row *ngFor="let quantity of QnAs().controls; let i=index" [formGroupName]="i">

          <td mat-cell>
              Question:
              <input matInput type="text" formControlName="question" class="form-control">
          </td>

          <td mat-cell>
              Answer:
              <input matInput type="text" formControlName="answer" class="form-control">
          </td>

          <td mat-cell>
              <button mat-mini-fab color="basic" (click)="removeQuestion(i)" class="btn btn-danger">
                <mat-icon>delete</mat-icon>
              </button>
          </td>

        </tr>

        <tr mat-row>
          <th mat-header-cell  colspan="2"> </th>
          <th mat-header-cell width="150px"><button mat-raised-button color="basic" type="submit" class="btn btn-success">Save quiz</button></th>
        </tr>

      </table>
     
      
    </form>

  </ng-container>
</ng-template>
