.flashCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .correctButton{
    margin-bottom: 5px;
    display: block;
  }

  .wrongButton{
    margin-bottom: 5px;
    display: block;
  }

  .retryButton{
    margin-bottom: 5px;
    display: block;
  }

  .backToOverviewButton{
    margin-bottom: 5px;
    display: block;
  }
  