<div *ngIf="!authService.isLoggedin(); else loggedin">
  Log in to use this feature!
</div>

<ng-template #loggedin>
  <p>bing bang bom you can take a quiz here!</p>
  
  <div class="flashCard">
      <app-flash-card [question]="questionToCard" [answer]="answerToCard" ></app-flash-card>
  </div>
  <div class="correctButton" (click)="correctOnClick()">
      <button mat-raised-button color="#2E7D32">Correct</button>
  </div>
  <div class="wrongButton" (click)="wrongOnClick()">
      <button mat-raised-button color="#2E7D32">Wrong</button>
  </div>
  <div class="retryButton" (click)="retryOnClick()">
    <button mat-raised-button color="#2E7D32">Retry</button>   
  </div>
  <div class="backToOverviewButton">
    <a routerLink='/quiz-overview' routerLinkActive = "active"><button mat-raised-button color="#2E7D32">Back to Overview</button></a>
  </div>
  <div class="finishedQuiz">
    Quiz completed you scored: <span [innerHTML]="scoreValue"></span> / <span [innerHTML]="questionList.length"></span>
  </div>
  <div class="Score">
      Score: <span [innerHTML]="scoreValue"></span> / <span [innerHTML]="questionList.length"></span>
  </div>
</ng-template>
